/Assignment4/build/
/Assignment4/nbproject/
/lab7/build/
/Assignment5_Xerox/build
/Assignment5_Xerox/ProductCatalogue.csv
/Assignment5_Xerox/SalesData.csv
/Assignment5_Xerox/nbproject/
/HousingForHomeless/build